

#table > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

#table div{
    border: 1px solid black;
    border-collapse: collapse;
}

#table > :nth-child(1){
    background-color: lightgray;
}

#table > :nth-child(n+2){
    height: 75px;
}

#table > :nth-child(n+2) > * > :nth-child(1){
    font-weight: bold;
}

p{
    margin: 0px;
}

.litterature{
    background-color: rgb(187, 242, 223);
}

.badminton{
    background-color: rgb(242, 167, 167);
}

.web{
    background-color: rgb(158, 218, 255);
}
